@using Microsoft.AspNetCore.Identity
@using StampersBay.Areas.Identity.Data;
@using StampersBay.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager





@{
    ViewData["Title"] = "Students Hub";
    var qRCodeString = ViewBag.QrCodeString;
}


@if (SignInManager.IsSignedIn(User))
{

    var user = await UserManager.GetUserAsync(User);        
   

    <div class="text_center">

        <h1 class="text-center">@user.Email</h1>
        <hr>
        <div class="text-center">
            <h2>
                Stamped IN/OUT?:
                <div class="text-center">
                    @if (user.isStampedIn != true)
                    {
                        <button type="button" class="btn btn-danger">OUT</button>

                    }
                    else
                    {
                        <button type="button" class="btn btn-success">IN</button>

                    }
                </div>
                
            </h2>            

            <div class="text-center">
                <form asp-controller="User" asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.Raw(qRCodeString)
                </form>
            </div>
            

            @if (user.isStampedIn != true)   
            {               
                <a asp-controller="User" asp-action="Stamping"><button type="button" class="btn btn-success">Stamp IN</button></a> 
                    
            }
            else
            {
                <a asp-controller="User" asp-action="Stamping"><button type="button" class="btn btn-danger">Stamp OUT</button></a>                    
            }          
                              
            
        </div>
    </div>
          

}
else
{
    <div class="text-center">
        <h1 class="display-4">Du bist noch nicht eingeloggt. Bitte logge dich ein!</h1>
    </div>

}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}